html {
    scroll-behavior: smooth;
  }
/* .navbar-item.navbar-center {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
} */
.navbar {
    background-color: transparent;
}
.navbar-start {
    margin-left: auto;
    margin-right: auto;
}
figure.image {
    background-color: #999;
    height: 150px;
    width: 150px;
    display: inline-block;
    overflow: hidden;
}
.flexible-size {
    height: 100%;
}